Repository woowa-techcamp-2022/web-fleemarket-04, pull requests merged in 2022-08, with the labels that each got.

#2 ✨ config 설정 (env, typeorm)
  backend/.env.sample
  backend/package-lock.json
  backend/package.json
  backend/src/app.module.ts
  backend/src/config/config.ts
  backend/src/config/mysql-config.module.ts
  backend/src/config/mysql-config.service.ts
  backend/src/config/validate.config.ts
  backend/src/main.ts
Labels: backend, feature

#5 응답 핸들링
  backend/src/app.module.ts
  backend/src/common/exception/error.exception.ts
  backend/src/common/interceptor/errors.interceptor.ts
  backend/src/common/interceptor/response-transform.interceptor.ts
  backend/src/config/mysql-config.service.ts
Labels: backend, feature

#9 ✨Entity 정의
  backend/package-lock.json
  backend/package.json
  backend/src/common/entity/core.entity.ts
  backend/src/common/enum/oauth-provider.enum.ts
  backend/src/common/enum/product-status.enum.ts
  backend/src/config/mysql-config.service.ts
  backend/src/entities/category.entity.ts
  backend/src/entities/chat-room.entity.ts
  backend/src/entities/image.entity.ts
  backend/src/entities/message.entity.ts
  backend/src/entities/product-status.entity.ts
  backend/src/entities/product.entity.ts
  backend/src/entities/region.entity.ts
  backend/src/entities/user.entity.ts
Labels: backend, feature, pair

#14 ✨ GET 카테고리 목록 API 구현
  backend/package-lock.json
  backend/package.json
  backend/src/app.module.ts
  backend/src/common/interceptor/response-transform.interceptor.ts
  backend/src/entities/product.entity.ts
  backend/src/main.ts
  backend/src/products/entities/category.entity.ts
  backend/src/products/entities/product.entity.ts
  backend/src/products/products.controller.spec.ts
  backend/src/products/products.controller.ts
  backend/src/products/products.module.ts
  backend/src/products/products.service.spec.ts
  backend/src/products/products.service.ts
Labels: backend, feature, refactor

#13 ✨ 동네 목록 API 구현
  backend/src/app.module.ts
  backend/src/common/pagination/pagination-option.dto.ts
  backend/src/common/pagination/pagination-response.dto.ts
  backend/src/common/pagination/pagination.ts
  backend/src/regions/dto/region-pagination.dto.ts
  backend/src/regions/entities/region.entity.ts
  backend/src/regions/regions.controller.ts
  backend/src/regions/regions.module.ts
  backend/src/regions/regions.service.ts
Labels: backend, feature

#15 ♻️ exception filter로 변경
  backend/src/app.module.ts
  backend/src/common/filter/exception.filter.ts
  backend/src/common/interceptor/errors.interceptor.ts
Labels: backend, refactor

#17 :sparkles: OAuth 구현
  backend/.env.sample
  backend/package-lock.json
  backend/package.json
  backend/src/app.module.ts
  backend/src/auth/auth.controller.ts
  backend/src/auth/auth.module.ts
  backend/src/auth/auth.service.spec.ts
  backend/src/auth/auth.service.ts
  backend/src/auth/guard/jwt.guard.ts
  backend/src/auth/strategy/google.strategy.ts
  backend/src/auth/strategy/kakao.strategy.ts
  backend/src/auth/strategy/naver.strategy.ts
  backend/src/auth/util/auth.util.ts
  backend/src/common/constant/error-message.ts
  backend/src/common/enum/oauth-provider.enum.ts
  backend/src/main.ts
  backend/src/users/dto/create-user.dto.ts
  backend/src/users/dto/update-user.dto.ts
  backend/src/users/entities/user.entity.ts
  backend/src/users/users.controller.spec.ts
  backend/src/users/users.controller.ts
  backend/src/users/users.module.ts
  backend/src/users/users.service.spec.ts
  backend/src/users/users.service.ts
Labels: backend, feature, pair

#20 🚧 프론트엔드 초기 세팅
  backend/src/main.ts
  frontend/.env.sample
  frontend/package-lock.json
  frontend/package.json
  frontend/public/logo192.png
  frontend/public/logo512.png
  frontend/src/App.css
  frontend/src/App.test.tsx
  frontend/src/App.tsx
  frontend/src/Router.tsx
  frontend/src/api/index.ts
  frontend/src/index.css
  frontend/src/index.tsx
  frontend/src/logo.svg
  frontend/src/reportWebVitals.ts
  frontend/src/routers/Home.tsx
  frontend/src/setupTests.ts
  frontend/src/styles/colors.ts
  frontend/src/styles/fonts.ts
  frontend/src/styles/globalStyle.ts
  frontend/src/styles/styled.d.ts
  frontend/src/styles/theme.ts
Labels: frontend, feature, pair

#28 :sparkles: Github Login 적용
  backend/.env.sample
  backend/package-lock.json
  backend/package.json
  backend/src/auth/auth.controller.ts
  backend/src/auth/auth.module.ts
  backend/src/auth/strategy/github.strategy.ts
Labels: backend, pair

#30 ♻️ 엔티티 리팩토링
  backend/src/chat-rooms/chat-rooms.module.ts
  backend/src/chat-rooms/entities/chat-room.entity.ts
  backend/src/chat-rooms/entities/message.entity.ts
  backend/src/entities/like.entity.ts
  backend/src/entities/product.entity.ts
  backend/src/entities/region.entity.ts
  backend/src/entities/user-region.entity.ts
  backend/src/entities/user.entity.ts
  backend/src/entities/view.entity.ts
  backend/src/products/entities/image.entity.ts
  backend/src/products/entities/product-status.entity.ts
  backend/src/products/entities/product.entity.ts
  backend/src/regions/entities/region.entity.ts
  backend/src/users/entities/user.entity.ts
Labels: backend, feature, pair

#31 ✨ 유저 동네 등록 및 삭제 API 구현
  backend/src/auth/auth.module.ts
  backend/src/common/constant/error-message.ts
  backend/src/common/filter/exception.filter.ts
  backend/src/entities/user-region.entity.ts
  backend/src/users/dto/add-user-region.dto.ts
  backend/src/users/users.controller.ts
  backend/src/users/users.module.ts
  backend/src/users/users.service.ts
Labels: fix, backend, feature

#33 :lipstick: 공통 버튼 컴포넌트 구현
  frontend/src/components/common/Button/Button.tsx
  frontend/src/styles/colors.ts
Labels: frontend, feature

#34 ✨ 상품 목록 조회 API 구현
  backend/src/products/entities/product.entity.ts
  backend/src/products/products.controller.ts
  backend/src/products/products.module.ts
  backend/src/products/products.service.ts
Labels: backend, feature

#38 ✨ 프론트엔드 로그인 구현
  backend/src/entities/user-region.entity.ts
  backend/src/users/entities/user.entity.ts
  backend/src/users/users.controller.ts
  backend/src/users/users.service.ts
  frontend/src/api/user.ts
  frontend/src/hocs/withAuth.tsx
  frontend/src/index.tsx
  frontend/src/queries/queryKey.ts
  frontend/src/queries/user.ts
  frontend/src/routers/Chat.tsx
  frontend/src/routers/Like.tsx
  frontend/src/routers/Login.tsx
  frontend/src/routers/My.tsx
  frontend/src/routers/Sold.tsx
  frontend/src/types/api.ts
Labels: frontend, backend, feature

#39 ✨ 상품 등록 API 구현
  backend/src/auth/auth.module.ts
  backend/src/products/dto/create-product.dto.ts
  backend/src/products/entities/image.entity.ts
  backend/src/products/entities/product.entity.ts
  backend/src/products/products.controller.ts
  backend/src/products/products.module.ts
  backend/src/products/products.service.spec.ts
  backend/src/products/products.service.ts
Labels: backend, feature

#46 💄 헤더 컴포넌트 UI 구현
  frontend/src/assets/icons/map-pin.svg
  frontend/src/assets/icons/search.svg
  frontend/src/components/common/Button/FAB.tsx
  frontend/src/components/common/Header/Header.tsx
  frontend/src/components/common/Icon/iconPath.ts
  frontend/src/routers/Home.tsx
  frontend/src/styles/colors.ts
Labels: frontend, feature

#47 💄 카테고리 컴포넌트 UI 구현
  frontend/.eslintrc.js
  frontend/src/components/Category/Categories.tsx
  frontend/src/components/Category/Category.tsx
  frontend/src/components/common/Header/Header.tsx
  frontend/src/routers/Home.tsx
Labels: frontend, feature

#49 ✨ 카테고리 목록 조회 API 연동
  frontend/src/api/category.ts
  frontend/src/components/Category/Categories.tsx
  frontend/src/queries/category.ts
  frontend/src/queries/queryKey.ts
Labels: frontend, feature

#51 ✨ 액세스토큰, 리프레시토큰 인증 방식 수정
  backend/.env.sample
  backend/src/auth/auth.controller.ts
  backend/src/auth/auth.service.ts
  backend/src/auth/dto/refresh-token.dto.ts
  backend/src/auth/guard/jwt.guard.ts
  frontend/src/api/auth.ts
  frontend/src/api/index.ts
  frontend/src/routers/Login.tsx
  frontend/src/styles/animations.ts
  frontend/src/styles/theme.ts
  frontend/src/utils/cookie.ts
Labels: fix, frontend, backend, feature

#54 ✨ 로그아웃 구현
  backend/src/auth/auth.controller.ts
  backend/src/auth/auth.service.ts
  frontend/src/App.tsx
  frontend/src/api/auth.ts
  frontend/src/api/index.ts
  frontend/src/components/common/Button/Button.tsx
  frontend/src/queries/user.ts
  frontend/src/routers/My.tsx
Labels: fix, frontend, backend, feature

#55 ✨ S3 이미지 업로드 구현
  backend/.env.sample
  backend/package-lock.json
  backend/package.json
  backend/src/app.module.ts
  backend/src/images/images.controller.ts
  backend/src/images/images.module.ts
  backend/src/images/images.service.ts
  backend/src/utils/multer.options.ts
Labels: backend, feature

#50 💄 상품 목록 컴포넌트 UI
  frontend/src/assets/icons/heart-mini.svg
  frontend/src/assets/icons/heart.svg
  frontend/src/assets/icons/speech-bubble-mini.svg
  frontend/src/components/Category/Categories.tsx
  frontend/src/components/Product/Product.tsx
  frontend/src/components/Product/Products.tsx
  frontend/src/components/common/BottomNavigation/BottomNavigation.tsx
  frontend/src/components/common/Button/Button.tsx
  frontend/src/components/common/Button/FAB.tsx
  frontend/src/components/common/Icon/iconPath.ts
  frontend/src/routers/Home.tsx
  frontend/src/styles/globalStyle.ts
  frontend/src/styles/theme.ts
  frontend/src/styles/zIndex.ts
  frontend/src/types/product.ts
  frontend/src/types/user.ts
  frontend/src/utils/ago.ts
  frontend/src/utils/formatPrice.ts
Labels: frontend, feature

#59 :sparkles: 이미지 사이즈 및 테두리 Prop 설정
  frontend/src/components/Product/Product.tsx
  frontend/src/components/common/Image/Image.tsx
Labels: frontend, feature

#60 💄 내 동네 (등록/수정/삭제) 페이지 UI 구현
  frontend/src/Router.tsx
  frontend/src/assets/icons/chevron-left.svg
  frontend/src/assets/icons/close.svg
  frontend/src/assets/icons/search-mini.svg
  frontend/src/components/ Location/SearchedRegions.tsx
  frontend/src/components/common/Button/Button.tsx
  frontend/src/components/common/Button/ButtonLocation.tsx
  frontend/src/components/common/Header/Header.tsx
  frontend/src/components/common/Icon/iconPath.ts
  frontend/src/routers/Home.tsx
  frontend/src/routers/Location.tsx
  frontend/src/routers/LocationSearch.tsx
Labels: frontend, feature

#61 :sparkles: 상품 불러오기 페이지네이션 및 필터링 추가 및 상품 개별 정보 api 구현
  backend/src/common/enum/product-status.enum.ts
  backend/src/entities/like.entity.ts
  backend/src/entities/view.entity.ts
  backend/src/products/dto/product-pagination.dto.ts
  backend/src/products/products.controller.ts
  backend/src/products/products.module.ts
  backend/src/products/products.service.ts
Labels: fix, backend, feature

#63 :sparkles: 상품 상세정보 페이지 UI 구현
  backend/src/products/products.service.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/public/index.html
  frontend/public/manifest.json
  frontend/src/Router.tsx
  frontend/src/api/product.ts
  frontend/src/assets/icons/chevron-down.svg
  frontend/src/assets/icons/kebab.svg
  frontend/src/components/Product/BottomBar.tsx
  frontend/src/components/Product/Product.tsx
  frontend/src/components/Product/ProductContent.tsx
  frontend/src/components/Product/ProductEditDropdown.tsx
  frontend/src/components/Product/ProductStatusDropdown.tsx
  frontend/src/components/common/Button/Button.tsx
  frontend/src/components/common/Button/ButtonLocation.tsx
  frontend/src/components/common/Carousel/Carousel.tsx
  frontend/src/components/common/Dropdown/Dropdown.tsx
  frontend/src/components/common/Header/Header.tsx
  frontend/src/components/common/Icon/iconPath.ts
  frontend/src/components/common/Image/Image.tsx
  frontend/src/components/common/Spacing/Spacing.tsx
  frontend/src/queries/product.ts
  frontend/src/queries/queryKey.ts
  frontend/src/routers/ProductDetail.tsx
  frontend/src/styles/animations.ts
  frontend/src/styles/globalStyle.ts
  frontend/src/styles/zIndex.ts
  frontend/src/utils/region.ts
Labels: frontend, backend, feature

#66 ✨ 동네 등록, 삭제, 조회 구현
  backend/src/common/pagination/pagination-response.dto.ts
  backend/src/common/pagination/pagination.ts
  backend/src/products/products.service.ts
  backend/src/regions/regions.service.ts
  backend/src/users/users.controller.ts
  frontend/src/App.tsx
  frontend/src/Router.tsx
  frontend/src/api/region.ts
  frontend/src/components/ Location/SearchedRegions.tsx
  frontend/src/components/Category/Categories.tsx
  frontend/src/components/Product/Product.tsx
  frontend/src/components/common/Button/ButtonLocation.tsx
  frontend/src/components/common/Header/Header.tsx
  frontend/src/hooks/useCheckRegion.ts
  frontend/src/index.tsx
  frontend/src/queries/queryKey.ts
  frontend/src/queries/region.ts
  frontend/src/queries/user.ts
  frontend/src/routers/Location.tsx
  frontend/src/routers/LocationSearch.tsx
  frontend/src/routers/My.tsx
  frontend/src/types/region.ts
  frontend/src/utils/region.ts
Labels: fix, frontend, backend, feature

#67 :recycle: 라우터 주소 상수화, 타입 파일 분리
  frontend/src/Router.tsx
  frontend/src/api/category.ts
  frontend/src/api/product.ts
  frontend/src/api/region.ts
  frontend/src/api/user.ts
  frontend/src/components/ Location/SearchedRegions.tsx
  frontend/src/components/Product/BottomBar.tsx
  frontend/src/components/Product/Product.tsx
  frontend/src/components/Product/ProductContent.tsx
  frontend/src/components/Product/Products.tsx
  frontend/src/components/common/BottomNavigation/BottomNavigation.tsx
  frontend/src/constants/route.ts
  frontend/src/hocs/withAuth.tsx
  frontend/src/queries/category.ts
  frontend/src/queries/product.ts
  frontend/src/queries/region.ts
  frontend/src/queries/user.ts
  frontend/src/routers/LocationSearch.tsx
  frontend/src/routers/My.tsx
  frontend/src/routers/ProductDetail.tsx
  frontend/src/types/category.type.ts
  frontend/src/types/product.ts
  frontend/src/types/product.type.ts
  frontend/src/types/region.ts
  frontend/src/types/region.type.ts
  frontend/src/types/user.ts
  frontend/src/types/user.type.ts
Labels: frontend, refactor, pair

#68 ✨ 웹소켓 custom hook 생성
  frontend/.env.sample
  frontend/package-lock.json
  frontend/package.json
  frontend/src/hooks/useSocket.ts
  frontend/src/routers/Chat.tsx
Labels: frontend, feature

#75 ✨ 토스트 구현
  frontend/public/index.html
  frontend/src/assets/icons/circle-close.svg
  frontend/src/components/Location/SearchedRegions.tsx
  frontend/src/components/common/Button/FAB.tsx
  frontend/src/components/common/Icon/iconPath.ts
  frontend/src/components/common/Portal/Portal.tsx
  frontend/src/components/common/Toast/Toast.tsx
  frontend/src/components/common/Toast/ToastItem.tsx
  frontend/src/contexts/ToastContext.tsx
  frontend/src/index.tsx
  frontend/src/routers/LocationSearch.tsx
Labels: frontend, feature

#76 ♻️ useInfiniteScroll Hook 구현
  frontend/src/Router.tsx
  frontend/src/components/Location/SearchedRegions.tsx
  frontend/src/hooks/useInfiniteScroll.ts
Labels: feature, refactor

#80 ✨ 채팅 (2) 부가 기능 구현
  backend/src/chat-rooms/chat-room.controller.ts
  backend/src/chat-rooms/chat-room.gateway.ts
  backend/src/chat-rooms/chat-room.service.ts
  backend/src/chat-rooms/chat-rooms.module.ts
  backend/src/products/products.controller.ts
  backend/src/products/products.service.ts
Labels: frontend, feature

#82 ✨ 상품 목록 페이지 구현
  backend/src/products/products.service.ts
  frontend/src/api/product.ts
  frontend/src/api/region.ts
  frontend/src/components/Category/Categories.tsx
  frontend/src/components/Category/Category.tsx
  frontend/src/components/Location/SearchedRegions.tsx
  frontend/src/components/Product/Product.tsx
  frontend/src/components/Product/ProductDetail/BottomBar.tsx
  frontend/src/components/Product/ProductDetail/ProductContent.tsx
  frontend/src/components/Product/ProductDetail/ProductEditDropdown.tsx
  frontend/src/components/Product/ProductDetail/ProductStatusDropdown.tsx
  frontend/src/components/Product/ProductList/Product.tsx
  frontend/src/components/Product/ProductList/Products.tsx
  frontend/src/components/Product/Products.tsx
  frontend/src/components/common/Dropdown/Dropdown.tsx
  frontend/src/components/common/Toast/Toast.tsx
  frontend/src/components/common/Toast/ToastItem.tsx
  frontend/src/contexts/ToastContext.tsx
  frontend/src/queries/product.ts
  frontend/src/queries/queryKey.ts
  frontend/src/queries/region.ts
  frontend/src/routers/Chat.tsx
  frontend/src/routers/Home.tsx
  frontend/src/routers/ProductDetail.tsx
  frontend/src/types/pagination.type.ts
  frontend/src/types/product.type.ts
  frontend/src/types/region.type.ts
  frontend/src/types/user.type.ts
Labels: fix, frontend, backend, feature, refactor

#83 :lipstick: 채팅 목록 컴포넌트 UI
  frontend/src/components/common/Image/Image.tsx
  frontend/src/routers/Chat.tsx
Labels: frontend, feature

#85 💄 채팅 컴포넌트 UI
  frontend/src/Router.tsx
  frontend/src/assets/icons/out.svg
  frontend/src/assets/icons/send.svg
  frontend/src/components/ChatRoom/ChatInput.tsx
  frontend/src/components/ChatRoom/ChatProduct.tsx
  frontend/src/components/ChatRoom/ChatWindow.tsx
  frontend/src/components/common/Icon/iconPath.ts
  frontend/src/constants/route.ts
  frontend/src/routers/ChatRoom.tsx
Labels: frontend, feature

#87 ✨ 🐛 버그 및 개선이 필요한 부분 작업
  backend/src/auth/auth.controller.ts
  backend/src/products/products.service.ts
  frontend/src/App.tsx
  frontend/src/Router.tsx
  frontend/src/api/auth.ts
  frontend/src/assets/icons/map.svg
  frontend/src/components/Category/Categories.tsx
  frontend/src/components/Product/ProductDetail/BottomBar.tsx
  frontend/src/components/Product/ProductList/Product.tsx
  frontend/src/components/common/Icon/iconPath.ts
  frontend/src/constants/route.ts
  frontend/src/contexts/LoggedInContext.tsx
  frontend/src/hocs/withAuth.tsx
  frontend/src/hooks/useCheckRegion.ts
  frontend/src/hooks/useUserCheck.ts
  frontend/src/index.tsx
  frontend/src/queries/user.ts
  frontend/src/routers/Home.tsx
  frontend/src/routers/LocationInit.tsx
  frontend/src/routers/LocationSearch.tsx
  frontend/src/routers/My.tsx
Labels: fix, frontend, feature

#88 ✨ 찜 페이지 구현
  backend/src/products/dto/product-pagination.dto.ts
  backend/src/products/products.controller.ts
  backend/src/products/products.service.ts
  backend/src/users/users.controller.ts
  backend/src/users/users.service.ts
  frontend/src/api/product.ts
  frontend/src/components/Category/Categories.tsx
  frontend/src/components/Category/Category.tsx
  frontend/src/components/Product/ProductList/Product.tsx
  frontend/src/components/Product/ProductList/Products.tsx
  frontend/src/hooks/useCategory.ts
  frontend/src/queries/product.ts
  frontend/src/queries/queryKey.ts
  frontend/src/routers/Home.tsx
  frontend/src/routers/Like.tsx
Labels: frontend, backend, feature

#89 ✨ 판매 목록 페이지 구현
  backend/src/products/dto/product-pagination.dto.ts
  backend/src/products/products.controller.ts
  backend/src/products/products.service.ts
  frontend/src/api/product.ts
  frontend/src/queries/product.ts
  frontend/src/routers/Home.tsx
  frontend/src/routers/Like.tsx
  frontend/src/routers/Sold.tsx
Labels: frontend, backend, feature, refactor

#91 ✨ 채팅 컴포넌트와 API 동기화 (1)
  backend/src/chat-rooms/chat-room.service.ts
  backend/src/chat-rooms/entities/chat-room.entity.ts
  backend/src/chat-rooms/entities/message.entity.ts
  backend/src/users/entities/user.entity.ts
  frontend/src/api/chatRoom.ts
  frontend/src/queries/chatRoom.ts
  frontend/src/queries/queryKey.ts
  frontend/src/routers/Chat.tsx
  frontend/src/types/chatRoom.ts
Labels: frontend, backend, feature

#94 :bug: 토큰 검증 에러 핸들링 서비스단에서도 해주도록 수정
  backend/src/auth/auth.service.ts
Labels: fix, backend

#96 :sparkles: 채팅 컴포넌트와 API 동기화
  backend/src/chat-rooms/chat-room.controller.ts
  backend/src/chat-rooms/chat-room.service.ts
  frontend/src/Router.tsx
  frontend/src/api/chatRoom.ts
  frontend/src/components/ChatRoom/ChatProduct.tsx
  frontend/src/components/ChatRoom/ChatWindow.tsx
  frontend/src/constants/route.ts
  frontend/src/queries/chatRoom.ts
  frontend/src/queries/queryKey.ts
  frontend/src/routers/Chat.tsx
  frontend/src/routers/ChatRoom.tsx
  frontend/src/types/chatRoom.ts
Labels: frontend, backend, feature

#97 ✨ 에러 핸들링 추가
  backend/src/auth/auth.controller.ts
  backend/src/common/constant/error-message.ts
  backend/src/products/products.service.ts
  frontend/src/components/CustomQueryClientProvider.tsx
  frontend/src/index.tsx
Labels: fix, frontend, backend, feature

#99 ✨ 상품 등록 페이지 구현
  backend/src/common/constant/error-message.ts
  backend/src/images/images.controller.ts
  backend/src/products/dto/update-product.dto.ts
  backend/src/products/products.controller.ts
  backend/src/products/products.module.ts
  backend/src/products/products.service.ts
  frontend/src/Router.tsx
  frontend/src/api/image.ts
  frontend/src/api/product.ts
  frontend/src/assets/icons/new-post.svg
  frontend/src/components/Category/Categories.tsx
  frontend/src/components/Post/ImageUpload.tsx
  frontend/src/components/Product/ProductDetail/ProductStatusDropdown.tsx
  frontend/src/components/Product/ProductList/Product.tsx
  frontend/src/components/common/Dropdown/Dropdown.tsx
  frontend/src/components/common/Icon/iconPath.ts
  frontend/src/constants/route.ts
  frontend/src/constants/time.ts
  frontend/src/contexts/ToastContext.tsx
  frontend/src/queries/category.ts
  frontend/src/queries/image.ts
  frontend/src/queries/product.ts
  frontend/src/routers/Home.tsx
  frontend/src/routers/Post.tsx
  frontend/src/routers/ProductDetail.tsx
  frontend/src/styles/globalStyle.ts
  frontend/src/types/product.type.ts
Labels: frontend, backend, feature

#104 :lipstick: 바텀 네비게이션 아이콘 색상 수정
  frontend/package.json
  frontend/src/api/index.ts
  frontend/src/components/common/BottomNavigation/BottomNavigation.tsx
  frontend/src/routers/ProductDetail.tsx
Labels: frontend, feature

#105 ✨ 상품 수정 구현
  backend/src/products/products.controller.ts
  backend/src/products/products.service.ts
  frontend/src/Router.tsx
  frontend/src/api/product.ts
  frontend/src/components/Category/Category.tsx
  frontend/src/components/CustomQueryClientProvider.tsx
  frontend/src/components/Product/ProductDetail/BottomBar.tsx
  frontend/src/components/Product/ProductDetail/ProductEditDropdown.tsx
  frontend/src/components/Product/ProductList/Product.tsx
  frontend/src/components/common/BottomNavigation/BottomNavigation.tsx
  frontend/src/components/common/Image/Image.tsx
  frontend/src/queries/product.ts
  frontend/src/routers/Home.tsx
  frontend/src/routers/Post.tsx
  frontend/src/routers/ProductDetail.tsx
  frontend/src/types/product.type.ts
Labels: frontend, backend, feature

#108 ♻️ 유저 아이디 활용하기
  backend/src/users/users.service.ts
  frontend/src/components/ChatRoom/ChatWindow.tsx
  frontend/src/routers/ChatRoom.tsx
Labels: fix, frontend, backend, refactor

#112 :sparkles: 상품 문의하기(채팅하기) 구현
  backend/src/chat-rooms/chat-room.service.ts
  backend/src/common/constant/error-message.ts
  frontend/src/components/ChatRoom/ChatInput.tsx
  frontend/src/components/Product/ProductDetail/BottomBar.tsx
  frontend/src/components/Product/ProductDetail/ProductContent.tsx
  frontend/src/components/Product/ProductList/Product.tsx
  frontend/src/types/product.type.ts
Labels: frontend, backend, feature

#119 🐛 ✨ 지역 선택 버튼 이벤트 수정 / USER REGION 엔티티 수정
  backend/src/common/constant/error-message.ts
  backend/src/entities/user-region.entity.ts
  backend/src/users/users.module.ts
  backend/src/users/users.service.ts
  frontend/src/components/CustomQueryClientProvider.tsx
  frontend/src/components/Location/SearchedRegions.tsx
  frontend/src/components/common/Button/ButtonLocation.tsx
  frontend/src/components/common/Icon/Icon.tsx
  frontend/src/routers/Location.tsx
Labels: fix, frontend, backend, feature

#120 ✨ 동네 선택 드롭다운 구현
  backend/src/common/constant/error-message.ts
  backend/src/products/products.service.ts
  backend/src/users/dto/change-user-primary-region.dto.ts
  backend/src/users/users.controller.ts
  backend/src/users/users.service.ts
  frontend/src/api/user.ts
  frontend/src/assets/icons/chevron-left.svg
  frontend/src/components/CustomQueryClientProvider.tsx
  frontend/src/components/common/Header/Header.tsx
  frontend/src/queries/user.ts
  frontend/src/routers/Home.tsx
  frontend/src/routers/Location.tsx
  frontend/src/routers/LocationSearch.tsx
  frontend/src/types/region.type.ts
Labels: frontend, backend, feature

#122 ✨ 상품 삭제 구현
  backend/src/chat-rooms/entities/chat-room.entity.ts
  backend/src/chat-rooms/entities/message.entity.ts
  backend/src/common/constant/error-message.ts
  backend/src/entities/like.entity.ts
  backend/src/entities/view.entity.ts
  backend/src/products/entities/image.entity.ts
  backend/src/products/products.controller.ts
  backend/src/products/products.service.ts
  frontend/src/api/product.ts
  frontend/src/components/Product/ProductDetail/ProductEditDropdown.tsx
  frontend/src/queries/product.ts
Labels: frontend, backend, feature

#123 :sparkles: 상품 없을 때 텅 화면 보여주기
  frontend/src/assets/images/empty.png
  frontend/src/components/Product/ProductList/Products.tsx
  frontend/src/components/common/Error/Empty.tsx
  frontend/src/components/common/Image/imagePath.ts
Labels: frontend, feature

#118 ✨ Alert 모달 구현
  backend/src/chat-rooms/chat-room.controller.ts
  backend/src/chat-rooms/chat-room.service.ts
  frontend/public/index.html
  frontend/src/api/chatRoom.ts
  frontend/src/components/common/Modal/Modal.tsx
  frontend/src/contexts/ModalContext.tsx
  frontend/src/index.tsx
  frontend/src/queries/chatRoom.ts
  frontend/src/routers/Chat.tsx
  frontend/src/routers/ChatRoom.tsx
  frontend/src/routers/Home.tsx
Labels: frontend, feature

#124 :sparkles: 로딩 구현
  frontend/src/components/Location/SearchedRegions.tsx
  frontend/src/components/Product/ProductList/Products.tsx
  frontend/src/components/common/Loading/Skeleton/ProductDetailSkeleton.tsx
  frontend/src/components/common/Loading/Spinner.tsx
  frontend/src/routers/ProductDetail.tsx
  frontend/src/styles/animations.ts
  frontend/src/styles/colors.ts
  frontend/src/styles/globalStyle.ts
Labels: frontend, feature

#126 ✨ 찜 버튼 디바운스 적용
  backend/src/common/constant/error-message.ts
  frontend/src/components/Location/SelectRegionDropdown.tsx
  frontend/src/components/Product/ProductDetail/BottomBar.tsx
  frontend/src/components/Product/ProductList/Product.tsx
  frontend/src/components/common/Dropdown/Dropdown.tsx
  frontend/src/hooks/useDebounceCallback.ts
  frontend/src/queries/product.ts
  frontend/src/queries/queryKey.ts
  frontend/src/queries/user.ts
  frontend/src/routers/Home.tsx
  frontend/src/routers/Location.tsx
Labels: frontend, feature

#128 :sparkles: 404 페이지
  frontend/src/Router.tsx
  frontend/src/assets/images/404.png
  frontend/src/components/common/Image/imagePath.ts
  frontend/src/routers/404.tsx
Labels: frontend, feature

#131 :gear: 배포를 위해 80 포트에서 4300 포트로 변경
  backend/src/chat-rooms/chat-room.gateway.ts
Labels: frontend, backend, refactor

#130 :sparkles: 채팅방에서 상품디테일로 이동하기
  frontend/src/components/ChatRoom/ChatProduct.tsx
  frontend/src/components/ChatRoom/ChatWindow.tsx
  frontend/src/routers/ProductDetail.tsx
Labels: frontend, feature

#137 :bug: 비로그인 상태에서 FAB 버튼 가리기, 동네 선택 모달 안뜨도록 하기
  frontend/src/components/Location/SelectRegionDropdown.tsx
  frontend/src/routers/Home.tsx
Labels: fix, frontend

#135 :lipstick: 로그인페이지 스크롤 추가
  frontend/src/routers/Login.tsx
Labels: frontend, feature

#134 ✨ 마이페이지 구현
  backend/src/common/constant/error-message.ts
  backend/src/users/dto/change-nickname.dto.ts
  backend/src/users/users.controller.ts
  backend/src/users/users.service.ts
  frontend/src/api/user.ts
  frontend/src/components/NicknameForm/NicknameForm.tsx
  frontend/src/queries/user.ts
  frontend/src/routers/Chat.tsx
  frontend/src/routers/My.tsx
Labels: frontend, backend, feature

#138 🐛 동이 아닌 가 로 끝나는 경우 처리
  frontend/src/components/common/Button/ButtonLocation.tsx
  frontend/src/utils/region.ts
Labels: fix, frontend

#139 ✨ 메세지 읽음, 읽지 않음 기능
  backend/src/chat-rooms/chat-room.gateway.ts
  backend/src/chat-rooms/chat-room.service.ts
  frontend/src/components/ChatRoom/ChatWindow.tsx
  frontend/src/hooks/useSocket.ts
  frontend/src/routers/ChatRoom.tsx
Labels: frontend, backend, feature

#143 :bug: 채팅방 상품 클릭 이벤트 범위 수정
  frontend/src/components/ChatRoom/ChatProduct.tsx
Labels: fix, frontend

#144 :sparkles: 로그인 서버 주소 변경
  frontend/src/routers/Login.tsx
Labels: feature

#145 ✨ 내 상품의 채팅 목록으로 이동하기
  backend/src/chat-rooms/chat-room.gateway.ts
  backend/src/chat-rooms/chat-room.service.ts
  backend/src/products/products.service.ts
  frontend/src/Router.tsx
  frontend/src/api/product.ts
  frontend/src/assets/icons/speech-double-bubble.svg
  frontend/src/components/Product/ProductDetail/BottomBar.tsx
  frontend/src/components/common/Error/NoData.tsx
  frontend/src/components/common/Icon/iconPath.ts
  frontend/src/queries/product.ts
  frontend/src/queries/user.ts
  frontend/src/routers/Chat.tsx
  frontend/src/routers/ChatRoom.tsx
  frontend/src/routers/ProductChatRooms.tsx
  frontend/src/routers/ProductDetail.tsx
Labels: fix, frontend, backend, feature

#148 💄 상품 목록에 스켈레톤 적용하기
  frontend/src/components/Product/ProductList/Products.tsx
  frontend/src/components/common/Loading/Skeleton/ProductListSkeleton.tsx
  frontend/src/routers/Home.tsx
  frontend/src/routers/Like.tsx
  frontend/src/routers/Location.tsx
  frontend/src/routers/Sold.tsx
Labels: frontend, feature

#147 :sparkles: 모달 구조 개선
  frontend/src/components/common/Modal/Modal.tsx
  frontend/src/contexts/ModalContext.tsx
  frontend/src/index.tsx
  frontend/src/routers/Chat.tsx
  frontend/src/routers/Home.tsx
  frontend/src/styles/zIndex.ts
Labels: frontend, feature, refactor

#153 ✨ 판매 목록 페이지 수정
  frontend/src/components/Product/ProductDetail/ProductEditDropdown.tsx
  frontend/src/components/Product/ProductList/Product.tsx
  frontend/src/components/Product/ProductList/Products.tsx
  frontend/src/components/common/Dropdown/Dropdown.tsx
  frontend/src/routers/ProductDetail.tsx
  frontend/src/routers/Sold.tsx
Labels: frontend, feature

#151 ✨ 이미지 Lazy Loading
  frontend/src/assets/images/default-placeholder.png
  frontend/src/components/Product/ProductList/Product.tsx
  frontend/src/components/common/Image/Image.tsx
  frontend/src/components/common/Image/imagePath.ts
  frontend/src/hooks/useIsElementInViewport.ts
  frontend/src/hooks/useIsImgLoaded.ts
  frontend/src/routers/Post.tsx
Labels: frontend, feature

#155 ✨ 채팅목록, 채팅방 스켈레톤 UI 적용
  frontend/src/components/common/Loading/Skeleton/ChatRommDetailSkeleton.tsx
  frontend/src/components/common/Loading/Skeleton/ChatRoomListSkeleton.tsx
  frontend/src/routers/Chat.tsx
  frontend/src/routers/ChatRoom.tsx
  frontend/src/routers/ProductChatRooms.tsx
Labels: frontend, feature

#157 :gear: 스켈레톤에 채팅 바 추가
  frontend/src/components/common/Loading/Skeleton/ChatRommDetailSkeleton.tsx
  frontend/src/components/common/Loading/Skeleton/ChatRoomListSkeleton.tsx
Labels: fix, frontend

#159 :sparkles: 상품 삭제 클릭 시, 삭제 모달 띄우기
  frontend/src/components/Product/ProductDetail/ProductEditDropdown.tsx
  frontend/src/components/common/Modal/Modal.tsx
  frontend/src/hooks/useDebounceCallback.ts
  frontend/src/queries/product.ts
  frontend/src/routers/Post.tsx
Labels: frontend, feature

#158 ✨ 채팅방 입장시 상대에게 메세지를 읽었다는 표시하기
  backend/src/chat-rooms/chat-room.gateway.ts
  backend/src/chat-rooms/chat-room.service.ts
  frontend/src/components/ChatRoom/ChatWindow.tsx
  frontend/src/components/common/Loading/Skeleton/ChatRoomListSkeleton.tsx
  frontend/src/routers/Chat.tsx
  frontend/src/routers/ChatRoom.tsx
  frontend/src/routers/ProductChatRooms.tsx
Labels: frontend, backend, feature

#156 :recycle: 프론트엔드 에러코드 상수화 및 케이스 처리
  frontend/src/components/CustomQueryClientProvider.tsx
  frontend/src/constants/error-code.ts
Labels: frontend, refactor

#162 :bug: 로그인시 로컬호스트로 가는 문제 해결
  backend/src/auth/auth.controller.ts
Labels: fix, backend, deploy

#164 :bug: 100vh 모바일 버그 반영
  frontend/src/App.tsx
  frontend/src/components/Product/ProductList/Products.tsx
  frontend/src/styles/globalStyle.ts
Labels: fix, frontend

#165 :bug: 가격 입력 시 콤마 표기 and 숫자만 가능
  frontend/src/routers/Post.tsx
  frontend/src/utils/formatPrice.ts
Labels: fix, frontend

#169 :bug: 채팅방이 안지워지는 문제 해결 - 하드 딜리트
  backend/src/chat-rooms/chat-room.controller.ts
  backend/src/chat-rooms/chat-room.service.ts
Labels: fix, backend
